@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    background-color: #0652dd;
}
.body-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.button-previsao {
    width: calc(100%);
    max-width: 100%;

    align-content: center;
    text-align: center;
    background-color: #6f1e51;
    border: none;
    margin: 7px;
    padding: 2%;
    padding-top: 2%;
    color: rgb(243, 242, 242);

    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
.button-previsao:hover {
    transition: 0.7s;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.7),
        0 24px 80px 0 rgba(0, 0, 0, 0.6);
}
.button-previsao:focus {
    outline: 0;
}
#textIntro {
    /* float: left; */
    width: 20%;

    font-size: 18px !important;
}
#titleButton {
    width: 25%;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}
#imageButton {
    float: right;
    width: 20%;
}
